<nav class="navbar bg-light d-flex z-3 justify-content-center position-sticky top-0">
    <div class="justify-content-center">
        <div class="container-fluid navbar-nav flex-row align-items-center cursor-pointer"
            routerLink="/home"
            routerLinkActive="active"
            areaCurrentWhenActive="page"
            style="cursor: pointer;">
            <span class="navbar-brand mb-0 h1 grenze-regular">
              julians.quest &nbsp;
              <img src="../../assets/sword-logo.svg" 
              alt="sword logo" 
              width="25px"></span>
        </div>
    </div>
</nav>
