<main class="container">
    <br>
    <h1 class="grenze-regular">DnD adventures</h1>
    <hr>
    I have written multiple adventures that you can run yourself, these are standalone oneshots.
    <br>
    <br>
    <h2 class="grenze-regular">Nothing out of the ordinary</h2>
    In this adventure, the party is hired by the nobles of Rustwater to deal with a group of bandits, a seemingly generic quest. However, they soon discover that some things are not what they seem and the fate of this poor town is in their hands. This adventure offers a thrilling twist on the classic tale of good vs. evil, challenging players to weigh their moral compass against their loyalty to their employer. 
    <br>
    <br>
    I created this adventure with a group of four players who are at level five in mind. However, as the DM you have the flexibility to adapt the adventure to suit the needs and strengths of your particular party. Unlike typical dungeon-crawling experiences, this adventure emphasizes intricate social dilemmas and engaging combat scenarios that will challenge the party's creativity and problem-solving skills.
    <br>
    <br>
    <i>
    This adventure can last for 3 to 6 hours but can be made longer, you can also include this in an existing campaign.
    </i>
    <br>
    <br>
    <app-download-button [filepath]="'../assets/downloads/nothing_out_of_the_ordinary.pdf'">nothing_out_of_the_ordinary.pdf</app-download-button>
    <app-download-button [filepath]="'../assets/downloads/nothing_out_of_the_ordinary.pdf'">35x32_map.png</app-download-button>
    <br>
    <br>
    <h2 class="grenze-regular">A taxing quest</h2>
    <p>As the party sets out on their latest adventure, they receive a royal decree from the king himself. The kingdom's coffers are running low and the king has mandated that all citizens and creatures alike must pay their taxes. The party is tasked with collecting taxes from the dragon Kavalaar, known for hoarding his treasures and evading taxes. The journey will take them through a labyrinthine bureaucracy of government offices and paperwork, culminating in a confrontation with the dragon himself. Will the party be successful in their quest to fill the kingdom's coffers, or will Kavalaar prove to be too much of a challenge?</p>
    <br>
    <h2 class="grenze-regular">Inprovise. Adapt. Overcome.</h2>
    <p>I created this adventure with a group of four players who are at level eight in mind. However, as the DM you have the flexibility to adapt the adventure to suit the needs and strengths of your particular party.</p>
    <app-download-button [filepath]="'../assets/downloads/a_taxing_task.pdf'">a_taxing_task.pdf</app-download-button>
    <app-download-button [filepath]="'../assets/downloads/numbered_map_42x52.png'">numbered_map_42x52.png</app-download-button>
    <app-download-button [filepath]="'../assets/downloads/unnumbered_map_42x52.png'">unnumbered_map_42x52.png</app-download-button>
    
</main>

