
<div class="container main d-flex flex-column">
    <div class="d-flex card-container">
        <app-project-card
        [projectName]="'knucklebones'"
        [projectDescription]="'Simple knucklebones clone I created in vanilla Javascript.'"
        [projectLink]="'https://github.com/julian118/knucklebones'"
        [projectImageUrl]="'../assets/knucklebones.png'"
        ></app-project-card>

        <app-project-card
        [projectName]="'DnD adventures'"
        [projectDescription]="'A list of oneshot adventures I have written for DnD, download them for free here.'"
        [projectRoute]="'/dnd-adventures'"
        [projectImageUrl]="'https://i.pinimg.com/236x/cc/15/32/cc15323c88afa14958d17fa2b4aee6d8.jpg'"
        ></app-project-card>

        <app-project-card
        [projectName]="'The epic interface'"
        [projectDescription]="'Web page I created to keep track of the different seasons of the feywild for the yearly &quot;EPIC&quot; event at Duivelsei.'"
        [projectLink]="'https://github.com/julian118/EPIC-interface'"
        [projectImageUrl]=""
        ></app-project-card>
        
    </div>
</div>


