<main class="container">
    <h1 class="grenze-regular">title of the article</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ipsum a facere voluptas velit molestiae corporis nihil vel aspernatur molestias consequuntur laboriosam et sint, dicta dolore modi nesciunt sunt nostrum iste numquam eos! Ullam maxime, voluptatibus incidunt harum eos quaerat!
    <h2 class="grenze-regular">h2 header here</h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam ut a tempora? Ab quod doloremque harum inventore! Natus pariatur veniam, maiores iste omnis distinctio sint reprehenderit, accusantium provident iusto quis cupiditate amet explicabo ullam expedita id, delectus obcaecati? Ipsa accusantium, fuga sunt quod doloremque amet.
    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>
    Lorem ipsum dolor sit amet <a href="#">this is a hyperlink</a> adipisicing elit. Repellendus minus, aut provident voluptatibus quaerat molestias explicabo cupiditate dolorem, nisi temporibus recusandae ex eligendi laudantium in sapiente facilis et saepe quas quos sunt? Amet veritatis possimus nobis corrupti esse, earum excepturi, nostrum officia facere rerum qui vero, maxime corporis quis molestias.
    <br>
    <app-download-button [filepath]="'../assets/test.txt'">first_file.pdf</app-download-button>
    <app-download-button>Second.exe</app-download-button>
    <app-download-button>this_is_the_third_file.csv</app-download-button>
    
</main>
